{% extends 'base.html.twig' %}

{% block title %}Categorie
{% endblock %}

{% block body %}
	<h1>Categorie</h1>

	<div class="table table-hover p-3">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ categorie.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ categorie.nom }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="show">
		<a href="{{ path('app_categorie_edit', {'id': categorie.id}) }}"class="btn btn-secondary" style="margin-left: 19px;">Éditer</a>

		{{ include('categorie/_delete_form.html.twig') }}
	</div>

	<a href="{{ path('app_categorie_index') }}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
