{% extends 'base.html.twig' %}

{% block title %}Voyage index
{% endblock %}

{% block body %}
	<h1>Voyage index</h1>

	<div class="table table-hover p-3">
		<table class="table">
			<thead>
				<tr>
					<th>Id</th>
					<th>Nom</th>
					<th>Image</th>
					<th>Prix</th>
					<th>Datedepart</th>
					<th>Datearrivee</th>
					<th>Description</th>
					<th>Moyentransport</th>
					<th>actions</th>
				</tr>
			</thead>
			<tbody>
				{% for voyage in voyages %}
					<tr>
						<td>{{ voyage.id }}</td>
						<td>{{ voyage.nom }}</td>
						<td>{{ voyage.image }}</td>
						<td>{{ voyage.prix }}</td>
						<td>{{ voyage.datedepart ? voyage.datedepart|date('Y-m-d') : '' }}</td>
						<td>{{ voyage.datearrivee ? voyage.datearrivee|date('Y-m-d') : '' }}</td>
						<td>{{ voyage.description }}</td>
						<td>{{ voyage.moyentransport }}</td>
						<td>
							<a href="{{ path('app_voyage_show', {'id': voyage.id}) }}" class="btn btn-warning" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;">show</a>
							<a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}" class="btn btn-secondary" style="--bs-btn-padding-y: .15rem; --bs-btn-padding-x: .4rem; --bs-btn-font-size: .75rem;">edit</a>
						</td>
					</tr>
				{% else %}
					<tr>
						<td colspan="9">no records found</td>
					</tr>
				{% endfor %}
			</tbody>
		</table>
	</div>

	<a href="{{ path('app_voyage_new') }}" class="btn btn-primary">Créer un voyage</a>
{% endblock %}
