{% extends 'base.html.twig' %}

{% block title %}Voyage index{% endblock %}

{% block body %}
    <h1>Voyage index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Nom</th>
                <th>Image</th>
                <th>Prix</th>
                <th>Datedepart</th>
                <th>Datearrivee</th>
                <th>Description</th>
                <th>Moyentransport</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for voyage in voyages %}
            <tr>
                <td>{{ voyage.id }}</td>
                <td>{{ voyage.nom }}</td>
                <td>{{ voyage.image }}</td>
                <td>{{ voyage.prix }}</td>
                <td>{{ voyage.datedepart ? voyage.datedepart|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.datearrivee ? voyage.datearrivee|date('Y-m-d') : '' }}</td>
                <td>{{ voyage.description }}</td>
                <td>{{ voyage.moyentransport }}</td>
                <td>
                    <a href="{{ path('app_voyage_show', {'id': voyage.id}) }}">show</a>
                    <a href="{{ path('app_voyage_edit', {'id': voyage.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="9">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_voyage_new') }}">Create new</a>
{% endblock %}
