{% extends 'base.html.twig' %}

{% block title %}FormReservation index
{% endblock %}

{% block body %}
	<h1>FormReservation index</h1>

	{% for message in app.flashes('success') %}
		<div class="bg-success">
			{{ message | join('. <br>') }}
		</div>
	{% endfor %}

	<table class="table">
		<thead>
			<tr>
				<th>Id</th>
				<th>NombreVoyageur</th>
				<th>Message</th>
				<th>actions</th>
			</tr>
		</thead>
		<tbody>
			{% for form_reservation in form_reservations %}
				<tr>
					<td>{{ form_reservation.id }}</td>
					<td>{{ form_reservation.nombreVoyageur }}</td>
					<td>{{ form_reservation.message }}</td>
					<td>
						<a href="{{ path('app_form_reservation_show', {'id': form_reservation.id}) }}">show</a>
						<a href="{{ path('app_form_reservation_edit', {'id': form_reservation.id}) }}">edit</a>
					</td>
				</tr>
			{% else %}
				<tr>
					<td colspan="4">no records found</td>
				</tr>
			{% endfor %}
		</tbody>
	</table>

	<a href="{{ path('app_form_reservation_new') }}">Create new</a>
{% endblock %}
