{% extends 'base.html.twig' %}

{% block title %}FormReservation
{% endblock %}

{% block body %}
	<h1>FormReservation</h1>

	<div class="table table-hover p-3">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ form_reservation.id }}</td>
				</tr>
				<tr>
					<th>NombreVoyageur</th>
					<td>{{ form_reservation.nombreVoyageur }}</td>
				</tr>
				<tr>
					<th>Message</th>
					<td>{{ form_reservation.message }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="show">
		<a href="{{ path('app_form_reservation_edit', {'id': form_reservation.id}) }}" class="btn btn-secondary" style="margin-left: 19px;">Éditer</a>

		{{ include('form_reservation/_delete_form.html.twig') }}
	</div>

	<a href="{{ path('app_form_reservation_index') }}" class="btn btn-primary">Retour à la liste</a>
{% endblock %}
