{% extends 'base.html.twig' %}

{% block title %}Statut
{% endblock %}

{% block body %}
	<h1>Statut</h1>
    
	<div class="table table-hover p-3">
		<table class="table">
			<tbody>
				<tr>
					<th>Id</th>
					<td>{{ statut.id }}</td>
				</tr>
				<tr>
					<th>Nom</th>
					<td>{{ statut.nom }}</td>
				</tr>
			</tbody>
		</table>
	</div>

	<div class="show">
		<a href="{{ path('app_statut_edit', {'id': statut.id}) }}" class="btn btn-secondary" style="margin-left: 19px;">Éditer</a>

		{{ include('statut/_delete_form.html.twig') }}
	</div>

	<a href="{{ path('app_statut_index') }}" class="btn btn-primary">Retour à la liste</a>

{% endblock %}
